/* Import Font Open Sans */
@import url('https://fonts.googleapis.com/css2?family=open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* Banner */
.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #161616;
    transition: 0.5s;
}
.banner.night{
    background: #fff;
}
.banner::before{
    content: '';
    position: absolute;
    left: 30%;
    top: 10%;
    width: 120px;
    height: 120px;
    background: url(/gambar/dotted.png);
    background-size: cover;
    animation: animateColor 10s linear infinite;
    transition-delay: -5s;
}
/* End Banner */

/* Content */
.content{
    position: relative;
    max-width: 700px;
    z-index: 10;
}
.content h3{
    font-size:  2em;
    color: #fff;
    font-weight: 200;
    transition: 0.5s;
}
.content h2{
    font-size: 5.5em;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}
.content h2 span{
    color: #e91e63;
}
.content p{
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 30px;
    transition: 0.5s;
}
.content a {
    position: relative;
    background: #017143;
    color: #fff;
    padding: 15px 35px;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
/* End Content */

/* Sosial Media */
.sci{
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}
.sci li{
    list-style: none;
}
.sci li a{
    text-decoration: none;
    font-size: 1.75em;
    color: #fff;
}
.sci li a:hover{
    color: #017143;
}
/* Sosial Media */

/* Switch Day Night */
.dayNight{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #292323;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
}
.banner.night .dayNight{
    background: #f0f0f0;
    color: #666;
}
/* Icon Day Night */
.dayNight ion-icon:nth-child(2),
.banner.night .dayNight ion-icon:nth-child(1)
{
    display: none;
}
.banner.night .dayNight ion-icon:nth-child(2)
{
    display: block;
}
/* End Icon Day Night */
.banner.night header .Logo,
.banner.night .content h2,
.banner.night .content h3,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night .sci li a,
.banner.night header ul li a{
    color: #444;
}
.banner.night .sci li a:hover{
    color: #017143;
}
.colors{
    position: absolute;
    right: 0;
    max-width: 600px;
    animation: animateColor 8s ease-in-out infinite;
}
@keyframes animateColor{
    0%,100%
    {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(50px);
    }
}
.men{
    position: absolute;
    right: 100px;
    bottom: 0;
    max-width: 55vh;
    animation: animateMen 8s ease-in-out infinite;
}
@keyframes animateMen{
    0%,100%
    {
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-50px);
    }
}
@media (max-width: 991px) {
    .banner {
      padding: 20px;
    }
    .content {
      margin-bottom: 200px;
    }
    .content h3 {
      font-size: 1.8em;
    }
    .content h2 {
      font-size: 4em;
    }
    .content p {
      font-size: 1em;
    }
    .content button {
      font-size: 0.95em;
      margin-top: 10px;
    }
    .sci {
      bottom: 25px;
      gap: 15px;
    }
    .sci li a {
      font-size: 1.7em;
    }
    .dayNight {
      bottom: 25px;
      left: 86%;
      width: 60px;
      height: 60px;
    }  
    .colors {
      bottom: 100px;
      max-width: 400px;
    }
    .men {
      position: absolute;
      right: 5px;
      bottom: 0;
      max-width: 35vh;
    }
  }
  