/* Card Profile */
.card {
    position: relative;
    width: 350px;
    height: 190px;
    background: #333;
    transition: 0.5s;
  }
  /* Hover Height Card */
  .card:hover {
    height: 450px;
  }
  
  /* Card and Lines */
  .card .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
  }
  
  /* Card And Lines Before */
  .card .lines::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 120px;
    background: linear-gradient(
      transparent,
      #45f3ff,
      #45f3ff,
      #45f3ff,
      transparent
    );
    animation: animate 4s linear infinite;
  }
  
  /* Keyframe Card And Lines Before*/
  @keyframes animate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  /* Card And Lines After */
  .card .lines::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #292929;
  }
  
  /* Image */
  .card .imgBx {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
  }
  
  /* Hover Image */
  .card:hover .imgBx {
    width: 250px;
    height: 250px;
  }
  
  /* Image Before */
  .card .imgBx::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      transparent,
      #ff3c7b,
      #ff3c7b,
      #ff3c7b,
      transparent
    );
    animation: animate2 6s linear infinite;
  }
  
  /* Card Image Keyframes */
  @keyframes animate2 {
    0% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  
  /* Image After */
  .card .imgBx::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #292929;
  }
  
  /* Set Image */
  .card .imgBx img {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    /* filter: grayscale(1); */
  }
  /* End Set Image */
  
  /* Card Content */
  .card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }
  
  /* Card Details */
  .card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
  }
  .card:hover .content .details {
    transform: translateY(0px);
  }
  .card .content .details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #45f3ff;
    line-height: 1.2em;
  }
  .card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    color: #fff;
  }
  .card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .card .content .details .data h3 {
    font-size: 1em;
    color: #45f3ff;
    line-height: 1.2em;
    font-weight: 600;
  }
  .card .content .details .data h3 span {
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
  }
  /* End Card Details */
  
  /* Button */
  .card .content .details .actionBtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .card .content .details .actionBtn button,
  .card .content .details .actionBtn a {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: #45f3ff;
    color: #222;
    cursor: pointer;
    opacity: 0.9;
  }
  .card .content .details .actionBtn button {
    background: #fff;
  }
  .card .content .details .actionBtn button:hover,
  .card .content .details .actionBtn a:hover {
    opacity: 1;
  }
  /* End Button */
  
  @media (max-width: 991px) {
    .modal {
      padding-top: 120px;
    }
    .card {
      width: 320px;
      height: 130px;
      transition: 0.5s;
    }
    .card:hover {
      height: 420px;
    }
    .card:hover .imgBx {
      width: 220px;
      height: 220px;
    }
    .card .content .details {
      padding: 40px;
      text-align: center;
      transition: 0.5s;
      transform: translateY(200px);
    }
    .card:hover .content .details {
      transform: translateY(0px);
    }
    .card .content .details h2 {
      font-size: 1.2em;
      font-weight: 600;
      color: #45f3ff;
      line-height: 1.2em;
    }
    .card .content .details h2 span {
      font-size: 0.7em;
      font-weight: 500;
      color: #fff;
    }
    .card .content .details .data h3 {
      font-size: 1em;
    }
    .card .content .details .data h3 span {
      font-size: 0.8em;
    }
    .card .content .details .actionBtn button,
    .card .content .details .actionBtn a {
      padding: 10px 25px;
    }
  }
  