@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Section */
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Logo */
header .logo {
  position: relative;
  max-width: 80px;
}

header h2 {
  font-size: 2em;
  text-align: center;
}
header h2 span {
  color: green;
}

/* Content */
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Content Text Box */
.content .textBox {
  position: relative;
  max-width: 600px;
  z-index: 1;
}

.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.content .textBox p {
  color: #333;
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
/* Content Text Box */

/* Content Image Box */
.content .imgBox {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.content .imgBox img {
  max-width: 340px;
}
/*  End Content Image Box */

/* Thumb */
.thumb {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumb li img {
  max-width: 60px;
}
/* End Thumb */

/* Sosial Media */
.sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
}
/* Sosial Media */

/* Background Image */
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
}
/* End Background Image */

/* payment */
#popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 999;
}
#popup .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px 20px;
  background: #eee;
  border-radius: 10px;
}
#popup .card-content h2 {
  text-align: center;
  color: #111;
  font-weight: 500;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1em;
}
#popup .card-content h4 {
  font-size: 1em;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: 0.05em;
  text-align: center;
}
#popup img {
  position: relative;
  left: 36%;
  width: 120px;
  height: 170px;
  margin-top: 15px;
}
#popup .form {
  text-align: center;
}
#popup .form label {
  display: block;
}
#popup .form input {
  margin-top: 8px;
  border-radius: 5px;
  height: 40px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
  max-width: 90px;
}
#popup .form .min,
#popup .form .plus {
  height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  color: rgba(0, 114, 54, 255);
  background: #eee;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
}
#popup .form .buy {
  margin-top: 10px;
  height: 40px;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 114, 54, 255);
  color: #fff;
}
#popup .card-content a.close {
  position: absolute;
  text-align: center;
  padding: 5px 15px;
  border-radius: 30px;
  top: 10px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background: #111;
  color: #fff;
}
#popup p {
  text-align: center;
  color: #111;
  margin-top: 8px;
}
a.disable {
  pointer-events: none;
  cursor: default;
}
.payment-logo{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-align: center;
  line-height: 85px;
}
.payment-logo:before{
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background:  rgba(0, 114, 54, 255);
  border-radius: 50%;
}
.payment-logo p{
  position: relative;
  font-size: 58px;
}
.card-content h3 {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  padding-bottom: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 1.5em;
}

/* end payment */

@media (max-width: 991px) {
  section {
    padding: 40px;
  }
  header {
    padding: 20px 30px;
    justify-content: center;
    gap: 10px;
  }
  header .logo {
    max-width: 70px;
  }
  header h2 {
    font-size: 1.3em;
    display: inline-block;
  }
  .content {
    flex-direction: column;
    margin-top: 90px;
  }
  .content .textBox h2 {
    color: #333;
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: 500;
  }
  .content .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
  }
  .content .textBox p {
    color: #333;
    font-size: 14px;
  }
  .content .textBox a {
    padding: 8px 15px;
  }
  .content .textBox a:nth-child(5) {
    margin-left: 10px;
  }
  .content .imgBox {
    width: 100%;
    display: flex;
    padding-right: 0;
    margin-top: 40px;
    margin-bottom: 130px;
    justify-content: center;
  }
  .content .imgBox img {
    max-width: 250px;
  }
  .circle {
    clip-path: circle(600px at right 1100px);
  }
  .sci {
    position: absolute;
    top: 58%;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sci li a:hover {
    transform: translateY(-10%);
  }
  .sci li {
    list-style: none;
  }
  .sci li a {
    display: inline-block;
    margin: 5px 0;
    transition: all 0.2s;
  }
}
